<html>
<head th:replace="~{base/head :: head}"></head>
<body>
	<div th:replace="~{base/logo :: logo}"></div>
	<div class="container">
		<div th:replace="~{base/titulo :: titulo('Nova Tarefa')}"></div>
		<div class="card mt-3">
			<form th:object="${tarefaForm}" class="card-body" th:action="@{/tarefa/nova}" method="POST">
				<div class="form-group">
					<label for="nomeTarefa">Tarefa</label> 
					<input th:field="*{nomeTarefa}" 
						class="form-control"
						placeholder="Nome da Tarefa"
						th:errorclass="is-invalid"/> 
					<small>Informe nome da tarefa que deseja cadasatrar</small>
					<div th:errors="*{nomeTarefa}" class="invalid-feedback">
						Validações Nome 
					</div>
				</div>
				<div class="form-group">
					<label for="descricaoTarefa">Descrição</label>
					<textarea th:field="*{descricaoTarefa}" 
						class="form-control" 
						placeholder="Descrição da Tarefa"
						th:errorclass="is-invalid"
						></textarea>
					<small>Informe uma descrição para sua tarefa</small>
					<div th:errors="*{descricaoTarefa}" 
						class="invalid-feedback">
						Validações Descrição 
					</div>
				</div>
				<div class="form-group">
					<label for="statusTarefa">Status</label> 
					<input class="form-control" th:field="*{statusTarefa}"
						placeholder="Status da Tarefa"
						th:errorclass="is-invalid"> 
					<small>Informe o status da tarefa que deseja registrar</small>
					<div th:errors="*{statusTarefa}" class="invalid-feedback">
						Validações Status
					</div>
				</div>
				<button class="btn btn-primary" type="submit">Cadastrar</button>
			</form>
		</div>
	</div>
</body>
</html>